<h1> Bienvenue sur YourGES </h1>

<p>

	<% if user_signed_in? %>
		<% if current_user.has_role? :admin %>
			Espace Admin <br><br>
			<%= link_to 'Gérer les utilisateurs', users_path %>
			<%= link_to 'Gérer les classes' %>
			<%= link_to 'Gérer les documents' %>
		<% else %>
			Espace User <br>
		<% end %>
		<br><br>
		<%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to 'Se connecter', new_user_session_path %>
	<% end %>
</p>